.box-recuperacao{
    width: 350px;
    height: 270px !important;
}
.box-recuperacao form input{
    background-color: rgb(50, 50, 50);
    padding:  0 10px !important;
    margin: 5px 0 !important;
}
#email_recuperacao{
    cursor: default;
}
.box-recuperacao form .input_senha img{
    top: 80%;
    right: 10px;
}
#btn_trocar_senha{
    margin: 0 auto !important;
    margin-top: 10px !important;
}