
<div class="box-recuperacao flex">
    <form id="form_alterar_senha">
        <h1>Recuperar senha</h1>
        <input id="email_recuperacao" name="email" type="email" value="{{ email }}" class="input-style" readonly>
        <label for="senha_recuperacao" class="input_senha">
            <img src="https://img.icons8.com/ios/50/4a4a4a/closed-eye.png" alt="closed-eye"/>
            <input id="senha_recuperacao" name="senha" type="password" class="input-style" placeholder="Senha">
        </label>
        <label for="repetir_senha_recuperacao" class="input_senha">
            <img src="https://img.icons8.com/ios/50/4a4a4a/closed-eye.png" alt="closed-eye"/>
            <input id="repetir_senha_recuperacao" name="nova_senha" type="password" class="input-style" placeholder="Repita a senha">
        </label>
        <button class="btn-acesso" id="btn_trocar_senha">Enviar</button>
    </form>
</div>




